* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    color: rgb(63, 50, 110);
    
}

h1 {
    color: #0216588c;
    text-align: center;   
}

h3 {
    text-decoration: overline underline;
    color: rgb(226, 69, 121);
}